@media (max-width: 1280px) {
  main {
    width: 100%;
    padding: 0 auto;
  }
  .section--3{
    width:675px ;
    padding-right: 15px;
       margin: auto;
  }
  .left {
    width: 383px;
  }
  h1 {
    font-size: 32px;
  }
  .left p {
    font-size: 14px;
  }
  .right {
    width: 181px;
  }
  .section2 {
    width: 369px;
  }
  .footerimg {
    display: none;
  }
  .divdaxil p {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .divdaxil span {
    font-size: 11px;
  }
}
@media (max-width: 992px) {
  main {
    width: 100%;
  }
  .section--3{
    width:309px ;
    padding-right: 1px;
       margin: auto;
  }
  .section1 {
    flex-wrap: wrap;
  }
  .left {
    width: 100%;
  }
  h1 {
    font-size: 26px;
  }
  .left p {
    font-size: 12px;
  }
  .right {
    width: 170px;
    height: 160px;
    margin: auto;
  }
  .section2 {
    width: calc(100% - 50px);
  }
  .footerdiv {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 10px 0px;
  }
  .footerimg {
    display: none;
  }
  .divdaxil {
    width: 48%;
  }
  .divdaxil p {
    font-size: 12px;
  }
  .divdaxil span {
    font-size: 10px;
  }
}


@media (max-width: 1280px) and (min-width:992px) {
  header {
    width: 675px;
  }
  .logo {
    margin-bottom: 55px;
  }
  .logo img {
    width: 65px;
    height: 38px;
  }
  header ul {
    width: 295px;
    height: 20px;
  }
  header ul a {
    font-size: 12px;
  }
  header ul li img {
    width: 12px;
  }
  .section--1{
    width: 641px;
    margin: 8px auto 0 auto;
    padding-right: 34px;
  }
  .section--1 .left{
    width: 364px;
   }
   .section--1 .right{
     width: 176px;
     height: 206px;
    }
    .section--1 h1{
      font-size: 46px;
    }
    .section--1 p{
      width: 264px;
      font-size: 12px;
    }
    .section--2{
      width: 280px;
      height: 115px;
      box-sizing: border-box;
      padding: 11px;
      margin: 40px auto;
      border-radius: 3px;
    }
    .section--2 p{
      margin: 0px;
      font-size: 14px;
    }
    .section--2 p:last-child{
      margin-top:9 ;
      align-self: flex-end;
    }
    .section--4{
      width: 565px;
      padding-right: 125px;
      margin: 100px auto 0 auto;
    }
    h2{
      font-size: 32px;
    }
    .section--4 h4{
      font-size: 15px;
    }
  .section--6 {
    width: 736px;
    margin-top: 128px;
    margin-bottom: 105px;
  }
  .section--4 p{
    font-size: 11px;
  }
  .section--4>div{
    margin-top: 50px;
    width: 565px;
  }
  .section--5{
    width: 393px;
    padding-right:297px ;
    margin: 105px auto 0 auto;
  }
  .section--5>ul{
    font-size: 14px;
    width: 383px;
  }
  
  .section--6 > h2 {
    font-size: 32px;
    margin-left: 21px;
  }
  .section--6 > div {
    margin-top: 66px;
  }
  .divsection {
    width: 231px;
    height: 189px;
    margin-right: 21px;
    margin-bottom: 23px;
  }
  .divsection > p {
    font-size: 17px;
    margin-bottom: 18px;
    margin-top: 6px;
    margin-left: 12px;
  }
  .divsection > span {
    font-size: 14px;
    margin-left: 12px;
  }

  .section--7 {
    padding: 52px 0px 73px 0px;
  }
  .section--7 > div {
    width: 736px;
    padding-left: 22px;
  }
  .section--7 >div> h2 {
    font-size: 32px !important;
  }
  .infoconteiner {
    width: 458px;
    height: 261px;
    margin-left: 2px;
    margin-top: 31px;
    display: flex;
  }
  .divinfo {
    width: calc(100% - 54px);
  }

  .divtop > p {
    font-size: 12px;
    margin-left: 11px;
    margin-bottom: 15px;
  }

  .bottomimg {
    width: 110px;
    height: 97px;
    margin-right: 23px;
  }
  .bottominfo p {
    font-size: 17px;
    margin-top: 23px;
    margin-bottom: 12px;
  }
  .bottominfo>img{
    width: 18px;
  }
}
@media (max-width: 991px) and (min-width:320px) { 
  header {
    width: 310px;
  }
  .logo {
    margin-bottom: 45px;
  }
  .logo img {
    width: 52px;
    height: 30px;
  }
  header ul {
    width: 237px;
    height: 15px;
  }
  header ul a {
    font-size: 10px;
  }
  header ul li img {
    width: 10px;
  }
  .section--1{
    width: 307px;
    margin: 8px auto 0 auto;
    padding-right: 3px;
    flex-wrap: wrap;
  }
  .section--1 .left{
    width: 292px;
   }
   .section--1 .right{
     width: 141px;
     height: 175px;
     justify-self: end;
    }
    .section--1 h1{
      font-size: 37px;
    }
    .section--1 p{
      width: 212px;
      font-size: 10px;
    }
    .section--2{
      width: 225px;
      height: 93px;
      box-sizing: border-box;
      padding: 10px;
      margin: 38px auto 75px auto;
      border-radius: 2.3px;
    }
    .section--2 p{
      margin: 0px;
      font-size: 11px;
    }
    .section--2 p:last-child{
      margin-top:6px ;
      align-self: flex-end;
    }
    .section--4{
      width: 308px;
      padding-right: 2px;
      margin: 75px auto 0 auto;
    }
    h2{
      font-size: 26px;
    }
    .section--4 h4{
      font-size: 12px;
    }
  .section--4 p{
    font-size: 10px;
  }
  .section--4>div{
    margin-top: 0px;
    width: 180px;
    flex-wrap: wrap;
  }
  .section--4>div>div{
    margin-top: 20px;
  }
  .section--5{
    box-sizing: border-box;
    width: 310px;
    padding-right:0px ;
    margin: 75px auto 0 auto;
  }
  .section--5>ul{
    box-sizing: border-box;
    font-size: 12px;
    width: 310px;
  }
  
  .section--6 {
    width: 310px;
    margin-top: 61px;
    margin-bottom: 89px;
  }
  .section--6 > h2 {
    font-size: 26px;
    margin-left: 0px;
  }
  .section--6 > div {
    width: 185px;
    margin: auto;
    margin-top: 45px;
  }
  .divsection {
    width: 100%;
    height: 152px;
    margin-right: 0px;
    margin-bottom: 24px;
  }
  .divsection > p {
    font-size: 14px;
    margin-bottom: 14px;
    margin-top: 5px;
    margin-left: 9px;
  }
  .divsection > span {
    font-size: 12px;
    margin-left: 9px;
  }

  .section--7 {
    padding: 42px 0px 36px 0px;
  }
  .section--7 > div {
    width: 300px;
    padding-left: 0px;
  }
  .section--7 >div> h2 {
    font-size: 26px ;
  }
  .infoconteiner {
    width: 100%;
    height: 248px;
    margin-left: 0px;
    margin-top: 20px;
  }
  .divinfo {
    width: calc(100% - 42px);
  }

  .divtop > p {
    font-size: 12px;
    margin-left: 0px;
    margin-bottom: 13px;
  }

  .bottomimg {
    width: 80px;
    height: 84px;
    margin-right: 17px;
  }
  .bottominfo p {
    font-size: 14px;
    margin-top: 17px;
    margin-bottom: 14px;
  }
  .bottominfo>img{
    width: 14px;
  }
}
